body {
  background: #181A1B;
  color: white;
  font-family: Arial;
  text-align: center;
  padding: 30px;
}
input, button {
  padding: 10px;
  margin: 5px;
}
.color-btn.red { background: red; color: white; }
.color-btn.green { background: green; color: white; }
.color-btn.violet { background: purple; color: white; }
.size-btn.big { background: yellow; color: black; }
.size-btn.small { background: lightblue; color: black; }
.wallet { margin-top: 20px; font-size: 18px; }
.timer { font-size: 24px; margin: 10px; }
.history-box {
  background: #1c1f2b;
  padding: 10px;
  border-radius: 10px;
  width: 90%;
  margin: 10px auto;
}
